.styledPlayer {
  position: relative;
  background: rgb(235, 235, 235);
  padding: 6px;
  border-radius: 15px;
  margin-bottom: 4px;
}
.styledPlayer .artist,
.styledPlayer .track {
  position: absolute;
  top: 5px;
  left: 36px;
  right: 10px;
  height: 16px;
  font: 12px 'Lucida Grande', Helvetica;
  overflow: hidden;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px;
}
.styledPlayer .artist {
  top: 19px;
  font-size: 10px;
  color: rgb(100, 100, 100);
}
.styledPlayer .iTunesPreviewPlayer {
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px;
}